In [2]:
#Question 1
# there are three different types of method to comment the code
# 1. single line comment code
# In this type comment the single code
# example
# 'a' variable have a string 
a = "pwskills"
print(a)

pwskills

In [3]:
# 2. multiple line comment
# b has a integer value
# c has a integer value 
#if we plus the b and c we get intger vaule
b = 33
c = 44
print(b+c)

77

In [13]:
# 3. Docstring comment code 
# we use """ triple quotes in this type of comment 
# example 


"""
when we have to 
comment more 
than one line
then we use this
"""
print("Hello, World!")

Hello, World!

In [16]:
# Question  2
# variables we assign the vaules to the variable 
# like a = 5
# where "=" is the sign of assigning now 'a' has a value inside it.
# example
a = "pwskills"
b = 1324124
c = 22.333
# python undunderstand automatically what is inside the variable
type(a)

str

In [17]:
type(b)

int

In [18]:
type(c)

float

In [19]:
# Question 3
l=[1,2,3,4,5,6,7,8,9,0]

In [20]:
type(l)

list

In [23]:
l1 = tuple(l)
print(l1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [25]:
type(l1)

tuple

In [26]:
# this how we can covert one data type to another data type

In [27]:
# Question 4
# firstly we have to open the command line terminal 
# then we have to type the 'python' in the cmd teterminal 
# after that python REPL (Read, Evaluate, Print, Loop) will start in python
# and REPL work as calculator..
# this how we can run the [ython script in command line

In [55]:
# Question 5
my_list = [1, 2, 3, 4, 5]
sub_list=[]
sub_list.append(my_list[1:3])
print(sub_list)

[[2, 3]]

In [56]:
# Question 6
# complex number in mathematics 
#  5+6j
# where j is an imaginary number
# represented in python 
# example
complex_number = (5+6j)+ (22+23j)

In [57]:
type(complex_number)

complex

In [58]:
# Question 7
# by declaring the variable age then assign the vale 25
age = 25

In [59]:
#Question 8

price=9.99
type(price)

float

In [60]:
# it belong tp float data type

In [61]:
# Question 9
name = "vishal kumar"
print(name)

vishal kumar

In [1]:
# Question 10
task = "Hello, World!"
print(task[7:12])

World

In [6]:
# Question 11

is_student= True # if you are a student
is_student= False # if you are not a student