Question 1. What is MongoDB? Explain non-realtional database in short. In which scenarios it is preferd to use MongoDB over SQL database?

In [2]:
# MongoDB is popular open source NOSQL data base mangement system that store data in the form of documents or we can see that
# in the form of dicionary.
# NON-RELATIONAL DATABASE : it is also known as NOSQL database, It gives more flexible data model and are designed to handle 
# large amounts of data and scale easily.
# when we need for high scalability, flexibility, and performance then it is prefered to use MongoDB over SQL database

# example of MongoDB

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import logging

logging.basicConfig(filename="test.log",level=logging.NOTSET)

In [5]:
import pymongo
try:
    client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")
    db = client.test
except Exception as e:
    logging.Error("this is the error {}".format(e))
    print(e)

In [6]:
db

Database(MongoClient(host=['ac-2blvghl-shard-00-02.ln0bt5m.mongodb.net:27017', 'ac-2blvghl-shard-00-00.ln0bt5m.mongodb.net:27017', 'ac-2blvghl-shard-00-01.ln0bt5m.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bpwwyw-shard-0', tls=True), 'test')

In [7]:
db = client['pwskills']

In [8]:
data={
    "name":"vishal kumar",
    "course":"data science",
    "duration":"9 months"
}

In [9]:
coll_pwskills= db["students_details"]

In [10]:
coll_pwskills.insert_one(data)

Question 2. State and Explain the features of MongoDB.

In [11]:
# Features of MongoDB

# 1. Document-Oriented 
# 2. Schemaless
# 3. High Scalability
# 4. High performance
# 5. Automatic Failover
# 6. Rich Query language
# 7. Flexible data model
# 8. Security
# 9. Cloud integration


# example 
data1={
    "name":"vishal kumar",
    "add":"xyz",
    "phone_no":"999999999",
    "citizen":"Indian"
}

# as we can see above details in the form of documents here we don't have to declared the data type since it is in the document
# or we can see in the dictionary.

In [12]:
coll_pwskills.insert_one(data1)

Question 3. Write a code to connect MongoDB to python. Also, create a database and a collection in MongoDB.

In [13]:
# this is the python code to connect MongoDB to Python

import pymongo
try:
    client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")
    db = client.test
except Exception as e:
    logging.Error("this is the error {}".format(e))
    print(e)

In [14]:
db

Database(MongoClient(host=['ac-2blvghl-shard-00-00.ln0bt5m.mongodb.net:27017', 'ac-2blvghl-shard-00-02.ln0bt5m.mongodb.net:27017', 'ac-2blvghl-shard-00-01.ln0bt5m.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bpwwyw-shard-0', tls=True), 'test')

In [15]:
db=client["pwskills"]

In [16]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [17]:
coll_pwskills.insert_many(data2)

In [18]:
# above i have created the data base and also insert the data in it.

Question 4. Using the database and the collection created in question 3, write a code to insert one record, and insert many record. Use the find() and find_one() method to print the inserted record.

In [19]:
# Code to insert one record

data3={
    "name":"vishal",
    "job_type":"flexi",
    "expericence":"2 years"
}

In [20]:
coll_pwskills.insert_one(data3) # this is the code for insert one record

In [21]:
# Code to insert many record
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},

    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},

    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [22]:
coll_pwskills.insert_many(list_of_records) # this is the code for insert many records

In [23]:
# find() method

try:
    for i in coll_pwskills.find():
        print(i)
        logging.info(i)
except Exception as e:
    print(e)
    logging.info("{}".format(e))

{'_id': ObjectId('65373d950a944b71b8e7359a'), 'name': 'vishal kumar', 'course': 'data science', 'duration': '9 months'}
{'_id': ObjectId('65373e7d0a944b71b8e7359c'), 'name': 'vishal kumar', 'course': 'data science', 'duration': '9 months'}
{'_id': ObjectId('6537407d0a944b71b8e7359d'), 'name': 'vishal kumar', 'add': 'xyz', 'phone_no': '999999999', 'citizen': 'Indian'}
{'_id': ObjectId('653742d80a944b71b8e735a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653742d80a944b71b8e735a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653742d80a944b71b8e735a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653742d80a944b71b8e735a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653742d80a944b71b8e735a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653742d80a944b71b8e735a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653742d80a944b71b8e735a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653742d80a944b71b8e735a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653742d80a944b71b8e735a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653742d80a944b71b8e735aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653742d80a944b71b8e735ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653742d80a944b71b8e735ac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65374b490a944b71b8e735ad'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('65374b780a944b71b8e735ae'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('65374bc10a944b71b8e735af'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65374bc10a944b71b8e735b0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65374bc10a944b71b8e735b1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('653758e5711d7893083d892b'), 'name': 'vishal kumar', 'course': 'data science', 'duration': '9 months'}
{'_id': ObjectId('653758e8711d7893083d892c'), 'name': 'vishal kumar', 'add': 'xyz', 'phone_no': '999999999', 'citizen': 'Indian'}
{'_id': ObjectId('653758ee711d7893083d892e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653758ee711d7893083d892f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653758ee711d7893083d8930'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653758ee711d7893083d8931'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653758ee711d7893083d8932'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653758ee711d7893083d8933'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653758ee711d7893083d8934'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653758ee711d7893083d8935'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653758ee711d7893083d8936'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653758ee711d7893083d8937'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653758ee711d7893083d8938'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653758ee711d7893083d8939'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('653758f1711d7893083d893a'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('653758f3711d7893083d893b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('653758f3711d7893083d893c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('653758f3711d7893083d893d'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [24]:
# find_one() method

coll_pwskills.find_one()

{'_id': ObjectId('65373d950a944b71b8e7359a'),
 'name': 'vishal kumar',
 'course': 'data science',
 'duration': '9 months'}

Question 5. Explain how we can use the find() method to query the MongoDB database.Write a simple code to demonstrate this.

In [25]:
# through find method we can find the whole datq by itreating by loop or we can find specific data also through query.
# example

# find() method

try:
    for i in coll_pwskills.find({"name":"vishal"}): # here we give the specfic command or query in order to get desierd result
        print(i)
        logging.info(i)
except Exception as e:
    print(e)
    logging.info("{}".format(e))

{'_id': ObjectId('65374b490a944b71b8e735ad'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('65374b780a944b71b8e735ae'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('653758f1711d7893083d893a'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}

In [26]:
# find() method

try:
    for i in coll_pwskills.find(): # but here we give the command to get whole data form data base
        print(i)
        logging.info(i)
except Exception as e:
    print(e)
    logging.info("{}".format(e))

{'_id': ObjectId('65373d950a944b71b8e7359a'), 'name': 'vishal kumar', 'course': 'data science', 'duration': '9 months'}
{'_id': ObjectId('65373e7d0a944b71b8e7359c'), 'name': 'vishal kumar', 'course': 'data science', 'duration': '9 months'}
{'_id': ObjectId('6537407d0a944b71b8e7359d'), 'name': 'vishal kumar', 'add': 'xyz', 'phone_no': '999999999', 'citizen': 'Indian'}
{'_id': ObjectId('653742d80a944b71b8e735a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653742d80a944b71b8e735a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653742d80a944b71b8e735a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653742d80a944b71b8e735a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653742d80a944b71b8e735a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653742d80a944b71b8e735a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653742d80a944b71b8e735a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653742d80a944b71b8e735a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653742d80a944b71b8e735a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653742d80a944b71b8e735aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653742d80a944b71b8e735ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653742d80a944b71b8e735ac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65374b490a944b71b8e735ad'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('65374b780a944b71b8e735ae'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('65374bc10a944b71b8e735af'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65374bc10a944b71b8e735b0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65374bc10a944b71b8e735b1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('653758e5711d7893083d892b'), 'name': 'vishal kumar', 'course': 'data science', 'duration': '9 months'}
{'_id': ObjectId('653758e8711d7893083d892c'), 'name': 'vishal kumar', 'add': 'xyz', 'phone_no': '999999999', 'citizen': 'Indian'}
{'_id': ObjectId('653758ee711d7893083d892e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653758ee711d7893083d892f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653758ee711d7893083d8930'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653758ee711d7893083d8931'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653758ee711d7893083d8932'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653758ee711d7893083d8933'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653758ee711d7893083d8934'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653758ee711d7893083d8935'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653758ee711d7893083d8936'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653758ee711d7893083d8937'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653758ee711d7893083d8938'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653758ee711d7893083d8939'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('653758f1711d7893083d893a'), 'name': 'vishal', 'job_type': 'flexi', 'expericence': '2 years'}
{'_id': ObjectId('653758f3711d7893083d893b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('653758f3711d7893083d893c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('653758f3711d7893083d893d'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

Question 6. expalin the sort() method. Give an example to demonstrate sorting in mongoDB.

In [27]:
# sort method is used in MongoDB to sort the results of query in either ascending order or desecnding order.


collection= db["college_data"]

In [28]:
data5=[{"id":1,"name":"john","age":20},
      {"id":2,"name":"sarah","age":22},
      {"id":3,"name":"david","age":18}]

In [29]:
collection.insert_many(data5)

In [ ]:
 db.college_data.find().sort({age:1}) # this command give output in ascending order

In [ ]:
 db.college_data.find().sort({age:-1}) # this command give output in descending order