Question 1. What is database? Differntiate between SQL and NoSQL database.

In [1]:
# A database is a collection of organized and structured data that can be easily accessed, managed, and updated.
# It allows users to store and retrive data efficienly for various purpose.


#SQL(structured Query Language) and NoSQL(NOT Only SQL) are two types of database that differ in their data storage and
# and retrieval methods. 
# SQL database use structured approach.
# NoSQL data base use non structured approach.
# SQL store data in table form where it have rows and column.
# NoSQL store data in the from of document or in the dictionary from.

# example
# MySQL is the platform for SQL.
# MongoDB is the platform for NoSQL.

Question 2. What is DDL? Explain Why CREATE,DROP,ALTER,and TRUNICATE are used with an exmaple.

In [ ]:
# DDL(Data Definition Language) is a set of SQL commands used to define and modify the structure of database. 
#CREATE,DROP,ALTER and TRUNICATE are comes under in DDL.

# 1.CREATE
# It used to create new database objects, such as table, views, or indexes.
# for example: Create table named "Employees" with three columns-'id','name',and'salary':

CREATE TABLE Employees(
id INT PRIMARY KEY,    # we have to determined the type of column so, we can perform task on it
    name VARCHAR(50),
 salary DECIMAL(10,2)   
);

# 2.DROP 
# IT is used to delete an existing database objects.
#for example,  from the  above SQL statment drops the table "Employees":

DROP TABLE Empolyees;

# 3.ALTER 
# It is used to modify the structured of an existing database objecets.
# it can be used to add, remove,or modify columns in a table, change data types or add constraints 
# for example: from the above  SQL statement adds a new coloumn "age" to the "Employees" table:

ALTER TABLE Employees
ADD age INT;

# 4.TRUNCATE 
# It is used to delete all data from a table without dropping the table itself.It is useful when you want to remove all 
# records from the table,but keep the table structure itact.
# for example: from the above SQL statment truncates the "Employess" table:

TRUNCATE TABLE Employees;

Question 3. what is DML? Explain INSERT, UPDATE  and DELETE with an example.

In [ ]:
# DML(Data Manipulation Language) is a set of SQl commands used to manipulate data stored in a database. 
# It is used to insert,update, and delete records in a table.

# 1.INSERT
# INSERT is used to add new records to a table. 
#For example, the following SQL statement inserts a new record into the "Employees" table:

INSERT INTO Employees (id, name, salary)
VALUES (1, 'John Smith', 50000);

# 2.UPDATE
#UPDATE is used to modify existing records in a table.
#For example, the following SQL statement updates the salary of the employee with an id of 1:

UPDATE Employees
SET salary = 55000
WHERE id = 1;

# 3.DELETE
#DELETE is used to remove records from a table. 
#For example, the following SQL statement deletes the employee with an id of 1 from the "Employees" table:

DELETE FROM Employees
WHERE id = 1;

Question 4. what is DQL? Explain SELECT with an example?

In [ ]:
# DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.
# It is primarily used to query data from tables based on certain conditions.

# SELECT is a DQL command used to retrieve data from a database. 
# It is used to specify which columns and rows of data should be returned from a table. 
# For example, the following SQL statement retrieves the names and 
# salaries of all employees with a salary greater than 50000 from the "Employees" table:

SELECT name, salary
FROM Employees
WHERE salary > 50000;

Q5. Explain Primary Key and Foreign Key.

In [2]:
# Primary Key:
# A primary key is a unique identifier for a specific record in a database table. 
# It is used to uniquely identify each record in the table and must have a unique value for each record.
# Primary keys are used to ensure data integrity and to establish relationships between tables in a database. 
# They can be made up of one or more columns in a table and are typically designated as the primary key when the table is created.


# Foreign Key:
# A foreign key is a field in a database table that is used to establish a relationship with another table.
#It is used to link two tables together and is typically a reference to the primary key of another table. 
#Foreign keys are used to maintain data integrity and to ensure that data in one table is related to data in another table.
#They help to establish relationships between tables in a database and are essential for creating complex queries and joining tables together.

Question 6.Write a python code to connect MYSQL to python. Explain the cursor() and execute() meethod.

In [ ]:
# this is the code which is used to connect the MYSQL to python 

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)


# cursor()
# the cursor() method creates a cursor object that allwos us to execute SQL queries on the connected database.

# execute()
# the execute() method is used to execute SQL queries on the connected database. It takes one argument,
# which is the SQL query to be executed.

Question 7. Give the order of execution of SQL clause in an SQL query.