In [1]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [4]:
# loc is a label based, which means you can access dataframe with name of row and columns
df.loc[0,"course_name"]

'Data Science'

In [5]:
# iloc is a integer based, which means we have to give command in integer format to access the datafame
df.iloc[0,0]

'Data Science'

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs? If so then explain it.

In [6]:
reindex=[3,0,1,2]

In [7]:
new_df=df.reindex(reindex)

In [8]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [9]:
new_df.loc[2] # it is showing through the index numbering big data has the 2 number thats why it show the big data

course_name    Big Data
duration              6
Name: 2, dtype: object

In [10]:
new_df.iloc[2] # it  is showing through the default index which it have in the table

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Consider the below code to answer further questions:

In [11]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [12]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.656511  0.732702  0.398763  0.019259  0.051946  0.550066
2  0.686316  0.424274  0.628634  0.830415  0.520183  0.247699
3  0.866775  0.537801  0.226661  0.599207  0.577833  0.993441
4  0.384531  0.577294  0.498392  0.455970  0.264020  0.858647
5  0.810974  0.922599  0.344568  0.706170  0.645026  0.351297
6  0.053384  0.387392  0.241169  0.524143  0.520990  0.496582

In [13]:
df1['column_1'].mean()

0.5764150250754919

In [14]:
df1['column_2'].mean()

0.5970106791418163

In [15]:
df1['column_3'].mean()

0.3896978578003864

In [16]:
df1['column_4'].mean()

0.5225272960125362

In [17]:
df1['column_5'].mean()

0.4299995658266598

In [18]:
df1['column_6'].mean()

0.5829553047901582

In [19]:
df1["column_2"].std()

0.20104342048123297

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.656511  0.732702  0.398763  0.019259  0.051946  0.550066
2  0.686316  0.424274  0.628634  0.830415  0.520183  0.247699
3  0.866775  0.537801  0.226661  0.599207  0.577833  0.993441
4  0.384531  0.577294  0.498392  0.455970  0.264020  0.858647
5  0.810974  0.922599  0.344568  0.706170  0.645026  0.351297
6  0.053384  0.387392  0.241169  0.524143  0.520990  0.496582

In [21]:
df1.loc[1,"column_2"]="string variable"

In [22]:
df1[1,'column_2'].mean()

KeyError: (1, 'column_2')

this showing error because as we know that if we want to find the mean of any columns then it must be the intger

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
#window function is the group of function and that opreate on the set of rows related to the current columns
# there are theree types of window function
#1.rolling() function
#2.expanding() function
#3.common aggreation function

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'value': [1, 2, 3, 4, 5, 6, 7, 8, 9]}
df = pd.DataFrame(data)

# Calculate the expanding sum
df['expanding_sum'] = df['value'].expanding().sum()

# Calculate the rolling minimum over a window of 2 rows
df['rolling_min'] = df['value'].rolling(window=2).min()

# Calculate the rolling maximum over a window of 2 rows
df['rolling_max'] = df['value'].rolling(window=2).max()

# Calculate the rolling standard deviation over a window of 2 rows
df['rolling_std'] = df['value'].rolling(window=2).std()

# Calculate the count of non-null values in the rolling window
df['rolling_count'] = df['value'].rolling(window=2).count()

print(df)

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [23]:
import pandas as pd

current_date= pd.to_datetime("today")
current_month =current_date.strftime("%B")
current_year=current_date.strftime("%Y")

print(current_month)
print(current_year)

November
2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [24]:
import pandas as pd

def difference(date1, date2):
    try:
        date1 = pd.to_datetime(date1)
        date2 = pd.to_datetime(date2)
        time_difference = date2 - date1
        
        print(f"hours Difference: {time_difference}")
        print("Difference in hours:", time_difference.days * 24)
        print("Difference in minutes:", time_difference.days * 24 * 60)
    
    except ValueError as e:
        print(f"Error: {e}. Please enter dates in the correct format (YYYY-MM-DD).")

date1 = input("Enter the first date: ")
date2 = input("Enter the second date: ")

difference(date1, date2)

Enter the first date:  2001-12-05
Enter the second date:  2023-12-05

hours Difference: 8035 days 00:00:00
Difference in hours: 192840
Difference in minutes: 11570400

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [46]:
data={"name":['vishal','kumar','singh','vishal','kumar'],
     "gender":["male","female","male","female","male"]}

In [47]:
sheet=pd.DataFrame(data)

In [48]:
sheet.to_csv('data.csv',index=False)

In [49]:
cat=pd.Categorical(sheet)

In [50]:
cat

['name', 'gender']
Categories (2, object): ['gender', 'name']

In [54]:
import pandas as pd

# create a sample CSV file
data ={ 
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female']}


df = pd.DataFrame(data)
df.to_csv('sample_data.csv', index=False)

# prompt user to enter the file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical data type: ")
category_order = input("Enter the category order (comma-separated): ")

# read the CSV file
data = pd.read_csv(file_path)

# convert the specified column to categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order.split(','), ordered=True)

# display the sorted data
sorted_data = data.sort_values(by=column_name)
print(sorted_data)

Enter the file path of the CSV file:  sample_data.csv
Enter the column name to convert to categorical data type:  Gender
Enter the category order (comma-separated):  Female,Male

      Name  Gender
0    Alice  Female
3    David  Female
4      Eve  Female
1      Bob    Male
2  Charlie    Male

Q10. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [60]:
data={
    "Student ID":[1,2,3,4,5,6,7,8,9,10],
    "Test score":[85,90,80,75,85,82,78,85,90,85]
}
student_data=pd.DataFrame(data)

In [63]:
student_data.to_csv("student_ID.csv",index=False)

In [74]:

    file_path=input("enter the path of file")
    dt=pd.read_csv(file_path)
    ob={
        "statistic":["Mean","Median","Mode"],
        "Value":[dt["Test score"].mean(),dt["Test score"].median(),dt["Test score"].mode()]
    }
    sheet1=pd.DataFrame(ob)

enter the path of file student_ID.csv

In [75]:
sheet1

  statistic                                   Value
0      Mean                                    83.5
1    Median                                    85.0
2      Mode  0    85
Name: Test score, dtype: int64

In [80]:
student_data['Test score'].median()

85.0